html,

/*Fiche produit*/

body {
  margin: 0;
  padding: 0;
  display: block;
  background-color: rgb(255, 255, 255);
  font-family: Verdana, sans-serif;
  font-size: 1.5rem;
}

header {
  background-color: rgb(35, 31, 88);
  color: aliceblue;
  padding: 2rem;
}

.full_text_header {
    display: flex;
    justify-content: space-between;
}

.text_header {
}

.menu {
    font-size: 1rem;
}

.details_prod {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

h1 {
  font-size: 200%;
  color: rgb(4, 33, 112);
  text-align: center;
}

.description_prod {
  margin-bottom: 2rem;
}

.photo_prod {
  border-radius: 1000px;
  border-style:dashed;
  border-color: rgb(0, 0, 0);
  width: 15%;
  margin-bottom: 2rem;
}

.prix_prod {
  font-weight: bold;
}

footer {
  height: 100%;
  text-align: center;
  background-color: rgb(35, 31, 88);
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  padding: 2rem;
}

a:link {
  color: rgb(228, 128, 228);
  text-decoration: underline;
}

